*.pem
*.swp
*.bak
mongodb-keyfile
node_modules/
terraform/.terraform
terraform/.terraform/*.*
*.backup
*.log
*.zip
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
.venv
__pycache__
data/
